body{
    background-color: black;
}
h1 {
    font-family: Arial, "Helvetica", sans-serif;
    letter-spacing: -0.06em;
    text-align: left;
    padding-left: 15px;
    padding-top: 25px;
    color: white;
    font-size:75px; 
}

.container{
    display: flex;
    flex-direction:row;
    margin:auto;
    text-align: center;
    margin-top: 75px;
    width: 90%;
}

.dropdown:hover .dropdown-content{
    display: block;
}

select:hover{
    background-color: #2d2d2d;
}

.dropdown {
    appearance: none;
    display: block;
    font-weight: bold;
    letter-spacing: -0.06em;
    margin:auto;
    border: 2px solid #ccc;
    font-family: Arial, "Helvetica", sans-serif;
    text-align: center;
    color: #ccc;
    cursor:pointer;
    background-color: black;
    font-size: 20px;
    padding: 10px 10px;
    width: 300px;
    position: relative;
}

.dropdown-content{
    display: none;
    padding: 15px;
    position: absolute;
    top: 100%;
    left:0;
    background-color: #000000; 
    border: 1px solid #ccc;
    min-width: 160px;
    z-index: 1000;
}
 
.button-container{
    display: flex;
    justify-content:flex-end;
    margin-top: 40px;
    padding-right: 10%;
 }

.button{
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background: #000000;
  color: white;
  letter-spacing: -0.06em;
  width: 100px;
  padding-top: 0.75%;
  padding-bottom: 0.75%;
  border: 2px solid #ccc;
  margin-top: 30px;
  text-align: center;
 }

 .container-head{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
 }

 .container-head i{
    font-size: 55px;
    color: rgb(255, 0, 0);
 }

 .container-head h1{
    margin: 0;
    font-size: 75px;
 }

 .result-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
 }
 
 .result{
    flex: 1;
    color: #ccc;
    font-family: Arial, "Helvetica", sans-serif;
    display: block;
    line-height: 1.5px;
 }
 
 .centered-image {
    display: block;
    padding-top: 2%;
    margin: 10px auto;
 }
 h2{
    color: #ccc;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 42px;
    margin-top: 20px;
    letter-spacing: -0.06em;
    text-align: left;
 }

 h3{
    color: #ccc;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 0.01em;
    text-align: justify;
    margin-top: -25px;
    font-style: italic;
 }

 h4{
    color: #ccc;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 18px;
    font-weight: 180;
    text-align: left;
    margin-top: 10px;
 }

 h5{
    color: #ccc;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 80;
    margin-top: 10px;
    text-align: left;
    letter-spacing: -0.06em;
 }

 p{
    color:#ccc;
    font-family: Arial, "Helvetica", sans-serif;
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
    padding-bottom: 10%;
 }

 .result-item {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
}

.result-image {
    padding-top: 2%;
    max-width: 500px;
    height: auto;
    margin-right: 20px;
    margin-left: 10%;
}

.result-text {
    margin-right: 10%; 
    text-align: left;
    max-width: 1000px;

}

.result-title {
    font-weight: bold;
    text-align: left;
}

.result-year, .result-runtime, .result-starring {
    margin-right: 10%;
}

.result-description {
    max-width: 1000px;

}


@media only screen and (max-width: 768px) {
    h1 {
        font-size: 50px; 
    }

    .container {
        flex-direction: row; 
    
    }

    .dropdown {
        width: 48%; 
        font-size: 14px; 
    }

    .button-container {
        padding-right: 10%;
    }

    .button {
        width: 48%;
        font-size: 14px;
        text-align: center;
    }

    .result-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin: 20px;
    }

    .result-title{
        font-size: 22px;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
    }

    .result-year{
        font-size: 14px;
        text-align: center;
        margin-top: -3px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .result-starring{
        font-size: 12px;
        text-align: center;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 0px;
    }
    .result-runtime{
        font-size: 14px;
        text-align: center;
        margin-top: -9px;
        margin-bottom: 5px;
        margin-left: 10%;
    }

    .result-image {
        width: 100%;
        display: block;
        margin: 10px;
    }
    .result-description{
        font-size: 12px;
        text-align: left;
        margin-top: 18px;
    }
    .result-text {
        line-height: 18px;
        
    }
}